@import "../../scss/_colors.scss";
@import "../../scss/_fonts.scss";

.CustomerListButtons {
  display: flex;
  align-items: center;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  height: 32px;
  opacity: 0;
  transition: opacity 1s;

  .EditButtonContainer {
    margin-left: 5px;
    color: $green;
    font-weight: $medium-font;
    cursor: pointer;
    transition: color 0.5s;

    &:hover {
      color: $lightgreen;
    }
  }

  .DeleteButtonContainer {
    position: relative;
    padding: 6px 8px 6px 6px;
    background-color: $red;
    border-radius: 5px;
    margin-left: 20px;
    margin-right: -30px;
    cursor: pointer;
    font-weight: $medium-font;

    &:hover {
      background-color: $lightred;
      transition: background-color 1s;
    }

    .DeleteButton {
      width: 16px;
      height: 16px;
      
      &:before, &:after {
        position: absolute;
        content: ' ';
        height: 16px;
        width: 2px;
        background-color: $white;
      }

      &:before {
        transform: rotate(45deg);
      }

      &:after {
        transform: rotate(-45deg);
      }
    }
  }
}