@import "../../scss/_colors.scss";
@import "../../scss/_fonts.scss";

.Header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(to right, $blue, $green);
  
  &__Title {
    color: $ghostwhite;
    font-weight: $bold-font;
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
  }
}