@import "../../scss/_colors.scss";
@import "../../scss/_fonts.scss";
@import "../../scss/_variables.scss";
@import "../../scss/_functions.scss";

.Header {
  position: fixed;
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(to right, $blue, $green);

  &__Title {
    color: $ghostwhite;
    font-weight: $bold-font;
    font-size: rem(25px);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    @media(max-width: $desktop-view-breaking-point) {
      font-size: rem(20px);
    }
  }
}